<h2>Записаться</h2>
<p>На этой странице вы можете записаться в наш barber shop!</p>

<form action = "/visit" method = "POST" role = "form">
  <div class="form-group">
    <label>Ваши имя</label>
    <input name="username" type="txt" class="form-control" placeholder="Введите ваше имя">
 </div>

 <button type="button" class="btn btn-primary btn-lg">Записаться</button>
</form>