<h2>Записаться</h2>
<p>На этой странице вы можете записаться в наш barber shop!</p>

<form action = "/visit" method = "POST" role = "form">
  <div class="form-group">
    <label>Ваше имя:</label>
    <input name="username" type="txt" class="form-control" placeholder="Введите ваше имя">
 </div>


  <div class="form-group">
    <label>Ваш телефон:</label>
    <input name="username" type="txt" class="form-control" placeholder="Введите ваш номер телефона">
 </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="username" type="txt" class="form-control" placeholder="Введите время и дату">
 </div>






 <button type="button" class="btn btn-primary btn-lg">Записаться</button>
</form>